.App {
  text-align: center;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

.non-canvas {
  position: relative;
  z-index: 100000;
}

.details-wrapper {
  position: absolute;
}
