body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.styledKnob circle,
.styledKnob path {
    fill: #fc5a96;
    opacity: 0.4;
    transition: 
      opacity 100ms, 
      color 100ms 
      ease-in-out;
}

.styledKnob:hover circle,
.styledKnob:hover path,
.styledKnob:focus circle,
.styledKnob:focus path {
    fill: #180094;
    opacity: 1;
    transition: 
      opacity 450ms, 
      color 450ms 
      ease-in-out;
}

.value {
  font-family: 'Work Sans', sans-serif;
  fill: #fc5a96;
  font-size: 15px;
}

.plugin {
  padding: 20px;
  margin: 20px;
  min-width: 300px;
}

.knobs-wrapper {
  display: flex;
  justify-content: center;
}

.pedal .knobs-wrapper {
  flex-wrap: wrap;
}

.plugin-title {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;  
}

.amp-head {
  border: 1px #fff solid;
  border-radius: 20px;
}

.amp-head .knob-wrapper {
  padding: 0 10px;
}

.pedal {
  border: 3px #c7a3a3 solid;
  border-radius: 20px;
}

.knob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amp-head .knob {
  width: 80px;
  padding: 0 10px;
}

.pedal .knob {
  width: 30%;
}